/* -----------------------------------------------------------
	header
----------------------------------------------------------- */ 

#header
{
	margin: 0 auto;
	padding: 10px 0 0 0;
	background: #b0b0b0 url("../images/header_background.png") repeat;
}

/* -----------------------------------------------------------
	header -> outer
----------------------------------------------------------- */ 

#header #header-outer
{
	margin: 0 auto;
	padding: 0;
	width: 960px;
}

/* -----------------------------------------------------------
	header -> quick
----------------------------------------------------------- */

#header #header-inner #quick ul
{
	left: 0;
}

#header #header-inner #quick li ul ul 
{
	left: 200px;
}

/* -----------------------------------------------------------
	content
----------------------------------------------------------- */ 

#content 
{
	margin: 0 auto;
	width: 960px;
	background: url("../images/content_fixed.png") repeat-y top left;	
}

/* -----------------------------------------------------------
	content -> left
----------------------------------------------------------- */ 

#content #left
{
	left: auto;
	width: 210px;
}

/* -----------------------------------------------------------
	content -> left -> menu
----------------------------------------------------------- */ 

#content #left #menu
{
	/*margin: 5px 10px 0 10px;*/
	margin: 0 5px;
}

/* -----------------------------------------------------------
	content -> right
----------------------------------------------------------- */ 

#content #right
{
	margin: -10px 0 0 220px;
}

/* -----------------------------------------------------------
	content -> right -> forms -> labels
----------------------------------------------------------- */

#content div.box div.form div.fields div.field div.label
{
	left: auto;
}

/* -----------------------------------------------------------
	content -> right -> forms -> input
----------------------------------------------------------- */

#content div.box div.form div.fields div.field div.input input.small
{
	width: 180px;	
}

#content div.box div.form div.fields div.field div.input input.medium
{
	width: 300px;	
}

#content div.box div.form div.fields div.field div.input input.large
{
	width: 484px;	
}

/* -----------------------------------------------------------
	content -> right -> tables
----------------------------------------------------------- */

#content div.box table td.selected
{
    width: 5%;
}

#content div.box table td.date
{
	width: 30%;
}

/* -----------------------------------------------------------
	footer
----------------------------------------------------------- */

#footer
{
    margin: 0 auto;
    width: 960px;
}

#footer p
{
    margin: 0 10px 0 10px;
}